*{
  margin: 0;
  padding: 0;
}

.MindNode{
  background-color: grey;
  width: fit-content;
  width: -moz-fit-content; /* mozilla fit content support */
  padding: 3px 10px;
  border-radius: 5px;
}

.MindNode p{
  font-size: 1.5em;
}

.MindNode:hover{
  cursor: grab;
}